container_commands:
  01_create_storage_dir:
    command: "mkdir -p /var/app/current/storage/images"
  02_set_permissions:
    command: "chmod 755 /var/app/current/storage/images"
  03_create_app_storage:
    command: "mkdir -p /app/storage"
  04_set_app_permissions:
    command: "chmod 755 /app/storage"
  05_copy_db_if_exists:
    command: "cp /var/app/current/server/db/dev.sqlite3 /app/storage/dev.sqlite3 || touch /app/storage/dev.sqlite3"
  06_set_db_permissions:
    command: "chmod 664 /app/storage/dev.sqlite3"